@layer base {
  * {
    @apply border-foreground;
  }
  body {
    @apply bg-background text-text;
    overflow: hidden;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  /* HACK: changing this to 100dvh breaks on iOS */
  height: 100vh;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: transparent;

  /* Disables pull-to-refresh but allows overscroll glow effects. */
  /* https://developer.chrome.com/blog/overscroll-behavior */
  /* NOTE: pull to refresh causes the app to exceed the available height on mobile chrome */
  /* TODO: feature: add custom pull to refresh */
  overscroll-behavior-y: none;
}

.lucide-icon {
  width: 1em;
  height: 1em;
}
