@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  * {
    @apply border-foreground;
  }
  body {
    @apply bg-background text-text;
    overflow: hidden;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/*
HACK: viewport-fit=cover causes trouble on iOS: 
the site either does not fill the full screen or is scrollable
somehow this works
*/
html,
body {
  height: calc(100vh - 1px);
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}

.lucide-icon {
  width: 1em;
  height: 1em;
}
